* {
    background: {background}C4;
    background-entry: {background}40;
    background-alt: {color0};
    foreground: {foreground};

    selected: {color4};
    active: {color5};
    urgent: {color1};
}
